
@{
    ViewBag.Title = "Register";
}


<h2>Register</h2>
<br />
@if (ViewBag.cmfrmpass != null)
{
    <div class="container"><a>Sorry, password does not match. Please try again.</a></div><br />

}
@if (ViewBag.Emailmessage != null)
{
    <div class="container"><a>Sorry, Email address already taken</a></div><br />

}
<div class="container">
    <form id="form-register" @*method="post" action="/Accounts/Register"*@>
        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername" name = "Username" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="ConfirmPassword" placeholder="Confirm Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="Gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <label  class="radio-inline"><input type="radio" name="Gender" value="Male">Male</label>
                <label class="radio-inline"><input type="radio" name="Gender" value="Female">Female</label>
                <label class="radio-inline"><input type="radio" name="Gender" value="Other" >Other</label>
            </div>
        </div>
        <div class="form-group row">
            <div  class="offset-sm-2 col-sm-10">
                @*<button type="submit" class="btn btn-primary">Register</button>*@
                <button type="submit" id="login-button" class="btn btn-primary" onclick="">Register</button>
            </div>
        </div>
    </form>
</div>

<script>

    $("#login-button").click(function () {
        alert("U click submit button");
        debugger;
        //pull the form information and send using ajax to /Account/Login
        var formData = $("#login-form").serialize();

        $.ajax({
            url: "/Account/Login",
            type: "Post",
            dataType: "json",
            data: formData,
            success: function (result) {

                if (result.success == true) {
                    alert("Login successful");
                }
            },
            error: function () {
                alert("There a error");
            }
        })

    });

</script>